.region{padding: 8px 20px 20px 20px;}
.header{background-color: ghostwhite; text-align: center;}
.navigation_menu{background-color: darkred;}
.content{background-color: lightblue;}
.footer{background-color: #306FA2;}
.title{display: inline-block; vertical-align: top; margin-left: 10px; text-align: left;}
img.logo{margin: 0px 0px 0px 0px;width: 110px; height: 110px;display: inline-block; vertical-align: top;}
h1.logo{margin: 15px 0px 20px 10px; font-family: "Verdana"; color: blue;}
h1.txt{color: yellow;}
h2.logo{margin: 0px 0px 0px 10px; font-family: "Verdana";}
.menu_img{margin-left: 10px; width: 65px; height: 45px;}
.menu_txt{text-decoration: none; display: inline; vertical-align: top; color: white; font-size: 35px}
.content1{display: inline-block; margin: 10px 0px 0px 60px; width: 400px; height: 400px; background-color: lightpink; text-align: center;}
.content2{display: inline-block; vertical-align: top; margin: 10px 0px 0px 100px;}
.content3{background-color: lightpink; width: 400px; height: 175px}
.docs{margin: 5px 0px 0px 5px; text-align: left; width: 390px; font-weight: bold;}
img.news_img{border-style: solid; border-color: blue; width: 250px; height: 150px}