body{font-family: "Arial Narrow"}
.region{padding: 8px 20px 20px 20px;}
.header{background-color: ivory; text-align: center;}
.navigation_menu{background-color: darkred;}
.feedback{background-color: darkcyan;}
div.content{background-color: lightblue;}
p,ul, ol.content{color: gray;}
.footer{background-color: #306FA2;}
.title{display: inline-block; text-align: left;}
img.logo{margin: 0px 0px 0px 0px;width: 110px; height: 110px;display: inline-block; vertical-align: top;}
h1.logo{margin: 15px 0px 20px 10px; color: blue;}
h1, label.txt{color: yellow;}
h2.logo{margin: 0px 0px 0px 10px;}
textarea{background-color: ivory;}
.menu_img{margin-left: 10px; width: 65px; height: 45px;}
.menu_txt{text-decoration: none; display: inline; vertical-align: top; color: white; font-size: 35px}
img.news_img{border-style: solid; border-color: blue; width: 250px; height: 150px}
